body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lowercase {
	text-transform: lowercase;
}


.top-buffer { margin-top:20px; }


/* Login text */



/* .login-text-nav { */
	/* margin: 0; */
/* } */

/* .logout-text-nav { */
	/* margin: 0; */
/* } */

/* Homepage */

.main-logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: 700;
	margin-top: 40%;
	padding-bottom: 20px;
}

.login-text-home {
	margin-top: 32px;
}

/* Nav */
.navbar-header a {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
}
.navbar-header a span{
	color: #00bcd4;
	font-size: 18px;
}

.user-nav {
}

/* Search results */
.results-header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.result {
	padding-bottom: 64px;
}

.result-img img {
	width: 130px;
	height: 130px;
	margin-right: 24px;
}

.result-sub {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 8px;
}
.result-header-release{
	margin-top: 20px;
}
.result-sub-release {
	font-size: 32px;
	font-weight: 300;
}

.result-sub-release a{
	color: #666; 
	-o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	/* ...and now for the proper property */
	transition:.1s;
}

.result-sub-release a:hover{
	text-decoration: none;
	color: #00bcd4;
}

.result-sub-track {
	font-size: 24px;
	font-weight: 300;	
}

.result-sub-track a{
	color: #666; 
	-o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	/* ...and now for the proper property */
	transition:.1s;
}

.result-sub-track a:hover{
	text-decoration: none;
	color: #00bcd4;
}

.result-tag {
	font-size: 14px;
	margin-bottom: 4px;
}

.result-rating {
	color:  #607d8b;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: 700;
}

.result-header a{
	color: #222;
	-o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	/* ...and now for the proper property */
	transition:.1s;
}

.result-header a:hover{
	text-decoration: none;
	color: #607d8b;
}

.rate_widget{
	border: 1px solid #CCC;
	overflow: visible;
	padding: 6px;
	position: relative;
	width: 180px;
	height: 45px;
}

.ratings_stars{
	background: url('../images/star_empty.png') no-repeat;
	float: left;
	height: 28px;
	padding: 2px;
	width: 32px;
}

.ratings_vote{
	background: url('../images/star_full.png') no-repeat;
}

.ratings_over{
	background: url('../images/star_highlight.png') no-repeat;
}

.total_votes{
	background: #eaeaea;
	top: 50px;
	left: 0;
	padding: 5px;
	position: absolute;
}

.rating{
	font: 10px verdana, sans-serif;
	margin: 0 auto 40px auto;
	width: 180px;
}
