body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-text {
	margin-top: 24px;
}

.logout-text {
	margin-top: 24px;
}

.login-text-nav {
}

.logout-text-nav {
}

.results-header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.lowercase {
	text-transform: lowercase;
}

.dropdown-toggle {
	border-radius: 0;
}

.main-logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: 700;
	margin-top: 40%;
	padding-bottom: 20px;
}

.navbar-brand{
	color: #111111;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.navbar-brand span{
	font-size: 16px;
}

.rate_widget{
	border: 1px solid #CCC;
	overflow: visible;
	padding: 6px;
	position: relative;
	width: 180px;
	height: 45px;
}

.ratings_stars{
	background: url('../images/star_empty.png') no-repeat;
	float: left;
	height: 28px;
	padding: 2px;
	width: 32px;
}

.ratings_vote{
	background: url('../images/star_full.png') no-repeat;
}

.ratings_over{
	background: url('../images/star_highlight.png') no-repeat;
}

.total_votes{
	background: #eaeaea;
	top: 50px;
	left: 0;
	padding: 5px;
	position: absolute;
}

.rating{
	font: 10px verdana, sans-serif;
	margin: 0 auto 40px auto;
	width: 180px;
}
