<!DOCTYPE html>
<html>
	<head>
	<% include head.ejs %>
	</head>

	<body>
		<div class="container">
			<!-- LOGO -->
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="text-center main-logo">MUSICDB</h1>
				</div>
			</div>
			<!-- SEARCHBAR -->
			<div class="row vertical-align">
				<div class="col-md-6 col-md-offset-3">
					<div class="input-group">
						<input type="text" class="form-control" id="search" placeholder="Search" aria-label="..." name="query">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default" id="btn-search"> 
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default dropdown-toggle category-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value=1>
								Artists
								<!-- <span class="caret"></span> -->
								<!-- <span class="sr-only">Toggle Dropdown</span> -->
							</button>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Category</li>
								<li class="category" value="Artists"><a href="#">Artists</a></li>
								<li class="category" value="Albums"><a href="#">Albums</a></li>
								<li class="category" value="Tracks"><a href="#">Tracks</a></li>
								<!-- <li role="separator" class="divider"></li> -->
								<li	class="category" value="Tags"><a href="#">Tags</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- LOGIN OR REGISTER-->
			<div class="row">
				<!-- BUTTONS -->
				<div class="col-md-4 col-md-offset-4">
					<div class="login-text-home">
						<div class="text-center login-text hidden">
							<a href="#" data-toggle="modal" data-target=".login-modal">login</a> / 
							<a href="#" data-toggle="modal" data-target=".signup-modal">signup</a>
						</div>
						<div class="text-center logout-text hidden">
							currently signed in as <a href="#" class="current-user"></a> /  
							<a href="#" id="logout">logout</a>
						</div>
					</div>
				</div>

				<!-- MODALS -->
				<% include login_modal.ejs %>
				<% include signup_modal.ejs %>
			</div>
		</div>

		<!-- RECOMMENDATION -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<table class="table table-hover">
						<h2 class='text-center'>Recommendation</h2>
						<tr>
							<th><strong>Track</strong></th>
							<th><strong>Rating</strong></th>

						</tr>
						<tr>
							<th><span id='track1'>track1</span></th>
							<th><span id='rate1'>rate1</span></th>
						</tr>
						<tr>
							<th><span id='track2'>track2</span></th>
							<th><span id='rate2'>rate2</span></th>
						</tr>
						<tr>
							<th><span id='track3'>track3</span></th>
							<th><span id='rate3'>rate3</span></th>
						</tr>
					</table>
				</div>
			</div>
		</div>

		</body>
		<% include scripts.ejs %>
		</html>
