<!DOCTYPE html>
<html>
	<head>
	<% include head.ejs %>
	</head>
	
	<body>
		<% include navbar.ejs %>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h1 class="text-center"><%= title %></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="input-group">
						<input type="text" class="form-control" id="search" placeholder="Search by artist, album, track, languages, and tags." aria-label="...">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Search by only:</li>
								<li><a href="#">Artists</a></li>
								<li><a href="#">Albums</a></li>
								<li><a href="#">Tracks</a></li>
								<!-- <li role="separator" class="divider"></li> -->
								<li><a href="#">Languages</a></li>
								<li><a href="#">Tags</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<% include scripts.ejs %>

</html>
