<!-- SIGNUP MODAL -->
<div class="modal fade signup-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Create Account</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group has-feedback" id="form-username">
						<label class="control-label" for="new-username">Username</label>
						<input type="text" class="form-control" id="new-username" placeholder="Username">
						<span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
						<span id="err-taken" class="help-block hidden">Username taken.</span>
						<span id="err-alnum" class="help-block hidden">Username must be alphanumeric.</span>
					</div>
					<div class="form-group has-feedback" id="form-password">
						<label class="control-label" for="new-password">Password</label>
						<input type="password" class="form-control" id="new-password" placeholder="Password">
						<span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
						<span id="err-length" class="help-block hidden">Password must be from 1-16 characters.</span>
					</div>
					<div class="form-group has-feedback" id="form-cpassword">
						<label class="control-label" for="confirm-password">Confirm Password</label>
						<input type="password" class="form-control" id="confirm-password" placeholder="Password">
						<span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
						<span id="err-match" class="help-block hidden">Passwords do not match.</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="btn-signup">Sign up</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

